[ansible]
inventory = config/ansible_inventory
sudo = True
dynamic_inventory_script = config/central_ci_dynamic_hosts.py

[redhat-prod]
user = some_user
pass = changeme
hostname =
baseurl =

[redhat-stage]
user = some_user
pass =  changeme
hostname = stage.example.com
baseurl = "http://stage.example.com/"

# Define product API parameters

[satellite]
url = https://sat6.example.com
api_path = katello/api/v2
user = admin
pass = secret

[openshiftv2]
url = https://openshift.redhat.com
# token from openshift.com or CLI command "rhc authorization list"
auth_token = asdf1234asdf5678
user = user
pass = secret
api_path = broker/rest
