apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  labels:
    app: httpd
spec:
  containers:
  - name: httpd
    image: busybox:ubuntu-14.04
    args:
    - sh
    - "-c"
    - "echo Hello World > index.html && httpd -f"
    ports:
    - containerPort: 80
  nodeSelector:
    kubernetes.io/hostname: {{ node_name }}
