apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
spec:
  containers:
  - name: sleeper
    image: busybox
    args:
    - sleep
    - "10000"
  nodeSelector:
    kubernetes.io/hostname: {{ node_name }}
